{% extends "home/sidebar.html" %}

{% block content %}
    <main class="note-v1">
        <div class="note-field">
            <div class="note-search">

            </div>
            <div class="group-card">
            {% include 'home/saved_card.html' %}
            </div>
        </div>

        <form class="card" action="" method="POST" id="envio">
            <div class="title-card">
              <textarea placeholder="Título" maxlength="40" name="title" id="title"></textarea>
            </div>
            <div class="content-card">
              <textarea placeholder="Digite..." maxlength="1000" name="content" id="content"></textarea>
            </div>
            <div class="tools-card">
                <button type="submit" class="create-action" form="envio" href="{{ url_for('Create') }}"> CREATE </button>
                <select name="priority">
                <option value="1">Grau I</option>
                <option value="2">Grau II</option>
                <option value="3">Grau III</option>
                </select>
            </div>
        </form>
    </main>
{% endblock %}
