{% extends "home/sidebar.html" %}

{% block content %}
    <main class="note-v1">
        <div class="note-field">
            <div class="note-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </div>
            <div class="group-card" id="group-card">
            {% include 'home/saved_card.html' %}
            </div>
        </div>

        <div class="card" id="">
            <div class="tools-card">
                <button class="create-action" id="create-note"><i class="fa-solid fa-square-plus"></i></button>
            </div>
            <div class="title-card">
              <textarea placeholder="Título" maxlength="40" name="title" id="title"></textarea>
            </div>
            <div class="content-card">
              <textarea placeholder="Digite..." maxlength="4000" name="content" id="content"></textarea>
            </div>
            <div class="desc-card"></div>
        </div>
    </main>
{% endblock %}
