{% extends "base/sidebar.html" %}

{% block title %}
    <title>Notes</title>
{% endblock %}

{% block links %}
    <link href="{{ url_for('static', filename='css/notes.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <main>
        <div class="note-field">
            <div class="note-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </div>
            <div class="group-card" id="group-card">
            {% include 'base/notes/saved_notes.html' %}
            </div>
        </div>
        <div class="card hidden-card" id="card">
            <div class="tools-card">
                <button class="create-action" id="create-note"><i class="fa-solid fa-square-plus"></i></button>
            </div>
            <div class="title-card">
              <textarea placeholder="Título" maxlength="40" name="title" id="title"></textarea>
            </div>
            <div class="content-card">
              <textarea placeholder="Digite..." maxlength="4000" name="content" id="content"></textarea>
            </div>
            <div class="desc-card">
                <span id="date-card"></span>
            </div>
            <div class="hidden-img">
                <i class="fa-regular fa-file-medical"></i>
                <span>Selecione ou crie um card</span>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/notes.js')}}"></script>
{% endblock %}
