*{ 
    font-family: 'Fira Sans', sans-serif; 
    font-weight: bolder;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 5% 95%;

    /* Visual */
    background: rgb(111,82,255);
    background: linear-gradient(90deg, rgba(111,82,255,1) 0%,   rgba(232,122,255,1) 110%); 
    /* overflow: hidden; */
}

nav{
    z-index: 999;
    width: 100%;
    height: 100vh;
    padding: 10px;

    /* Visual */
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    /*animation: reveal-box 0.25s ease-in-out;*/
}

.navBar{
    min-height: 100px;
    height: 90%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    /* background-color: #28282b; */
}

.switch{
    width: 40px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #28282b;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.1s;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    
}

.btn_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
}

.perfil-btn{
    width: 40px;
    height: 35px;

    color: #28282b;
    font-size: 17.5px;
    background: transparent;
    border: none;
    border-radius: 7.5px;
    transition: 0.2s;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.perfil-btn:hover, .switch:hover{
    cursor: pointer;
    transition: 0.3s;
    color: rgb(111,82,255);
    box-shadow: rgb(111,82,255) 0px 1px 2px, rgb(183, 173, 233) 0px 0px 1px 2px;
    border-radius: 2.5px;
}

@keyframes trans-color{
    from{color: rgb(221, 192, 255);}
    to{}
}

.btn_bar button{
    width: 40px;
    height: 40px;
    
    font-size: 17.5px;
    color: #28282b;
    background: transparent;
    border: solid 2.5px transparent;
    border-radius: 5px;
    transition: 0.2s;

}
.btn_bar button:hover{
    cursor: pointer;
    transition: 0.3s;
    padding-left: 12.5px;
    color: rgba(111,82,255,1);
    

    animation: trans-color 0.5s;
}

/* Main */
main{
    max-width: 1400px;
    width: 100%;
    height: 100%;
    max-height: 625px;
    overflow: auto;

    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    position: relative;
    top: -10px;

    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 75% ;

    /* Visual */
    /* background-color: #28282b;  */
}


/* Card Settings --------------------------> */

.card{
    max-width: 1300px;
    min-height: 300px;
    

    display: grid;
    grid-template-rows: 55px auto 40px;

    background-color: white;
    border-left: rgb(199, 231, 110) 17.5px solid;
    border-radius: 7.5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.title-card{
    background-color: rgb(255, 255, 255);
    color: #28282b;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1.25px, rgba(9, 30, 66, 0.13) 0px 1px;

    display: flex;
    gap: 10px;

    border-radius: 0px 7.5px 0px 0px;
    padding: 10px 5px;
}

.title-card textarea{
    padding: 5px;
    resize: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    overflow: hidden;
 
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
}

.content-card{
    padding: 5px;
}
.content-card textarea{
    font-size: 16px;
    width: 100%;
    height: 100%;
    resize: none;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none ;
    transition: 0.1s;
    background: transparent;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 0px;
}
.sav-card-show{
    width: 100%;
    padding: 2.5px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.content-card textarea:hover, .title-card textarea:hover, .sav-card-show:hover{
    transition: 0.3s;
    border: 2px solid rgb(209, 209, 209);
}

.content-card textarea:focus-visible, .title-card textarea:focus-visible{
    border: 2px solid #4c4c4d;
}

.tools-card{
    padding: 5px;
    padding-right: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

    border-radius: 0px 0px 7.5px 0px;
}

.tools-card button, .excluir{

    border: none;
    background: transparent; 
    cursor: pointer; 
    border: none;
    background: transparent;

    transition: 0.2s;
}

.excluir{
    min-width: 15px;
    padding: 2.5px;
}

.excluir:hover{
    color: rgb(255, 129, 129);
    transition: 0.25s;
}

.tools-card select{
    background: transparent;
    border: none;
    outline: none;
    transition: 0.2s;
    max-width: 75px;
    width: 100%;
    padding: 5px 2.5px;
    border-radius: 2.5px;
    cursor: pointer;
}
.tools-card .save-action, .create-action{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    background: transparent;
    min-width: 60px;
    height: 25px;
    color: #28282b;
    padding: 0px 5px;
    border-radius: 5px;
    border: 2.5px solid transparent;
    transition: 0.2s;
}

.tools-card .save-action:hover, .create-action:hover{
    transition: 0.3s;
    color: rgb(86, 166, 0);
    border: 1px solid rgb(86, 166, 0);
}

.group-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 11.5px;
    height: 100%;
    overflow: auto;
}

.saved-card{
    width: 100%;
    max-width: 500px;
    min-height: 65px;
    max-height: 125px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    /* Visual */
    background-color: white;
    border-radius: 5px;
    border-top: 15px solid rgb(140, 219, 153);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-size: 20px;
    color: #28282b;
    animation: reveal-box 0.25s;
}

a{
    text-decoration: none;
    color: #28282b;
}

.sav-card-show span{
    padding: 5px;
}

@keyframes reveal-box{
    from {transform: translateX(-100%);} 
    to {transform: translateX(0);}
}

@keyframes reveal-item{
    from {width: 30%;}
    to {width: 100%;}
}