*{
    font-family:'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
}

:root{
    --color-p1: #96ba93;
    --color-p2: #567356;
}

body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #C7D1D6;
    /*background: rgb(111,82,255);
    background: linear-gradient(90deg, rgba(111,82,255,1) 0%, rgba(232,122,255,1) 100%);*/
}

main{
    width: 1200px;
    height: 550px;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

/* Login ------------------------------> */
.login{
    max-height: 500px;
    max-width: 400px;
    padding: 30px 0px;
    width: 100%;
    /*Visual*/
    background-color: white;
    border-radius: 7.5px;
    margin: 0px 25px 0px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    animation: reveal 1s;
}

.formulario h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--color-p1);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


.login form{
    height: 100%;
    width: 100%;
}

.formulario{
    width: 100%;
    height: 100%;

    display: grid;
    
    justify-content: center;
    grid-template-rows: 20% 30% 20% 30%;
}

.boxInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxInput input[type='text'], input[type='password']{
    font-size: 16px;
    width: 300px;
    height: 30px;
    padding: 0.8rem 1.2rem;

    /* Visual */
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.boxInput input[type='text']:hover, input[type='password']:hover{
    background: rgb(238, 238, 238);
}

.boxInput input[type='text']:focus-visible, input[type='password']:focus-visible{
    outline: 2px solid var(--color-p2);
}
.boxButton{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-flask{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    background-color: var(--color-p2);
    color:white;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    margin-top: 50px ;


    padding: 5px;
}

.button-flask:hover{
    cursor: pointer;
    background-color: var(--color-p1);
    transition: 0.1s;
    padding-left: 25px;
}

#CB {
    /* Oculta o checkbox padrão */
    display: none;
}

label {
    /* Adiciona estilo básico para a etiqueta */
    display: inline-block;
    padding: 4px;
    height: 5px;
    width: 5px;
    border: 2px solid #28282b;
    border-radius: 30px;
    cursor: pointer;
}

#CB:checked + label {
    /* Estilo personalizado para o checkbox selecionado */
    background: var(--color-p1);
    animation: trans-color 0.2s;
}

@keyframes trans-color {
    from{ 
        background: rgb(220, 213, 255);
    }
}
a{
    color: var(--color-p2);
}
  
/*Banner ------------------------------> */
.banner{
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
  
    align-items: center;
    animation: reveal 1s;
  
}

@keyframes reveal {
    from {transform: translateX(-50px);}
    to {}
}