/* Geral ------------------------- */
:root{
    --size-bar: 45px;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Main ------------------------ */
main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 27% 73%;
}

/* Card Settings ---------------- */

.card{
    min-height: 100%;
    display: grid;
    grid-template-rows: var(--size-bar) 55px auto 30px;

    background-color: white;
    border-left: #28282b 2px solid;
}

.title-card{
    color: #28282b;
    display: flex;
    gap: 10px;

    border-radius: 0px 7.5px 0px 0px;
    padding: 10px 10px;
}

.title-card textarea{
    padding: 5px;
    resize: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    overflow: hidden;
 
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
}
.title-card #title{
    font-size: 20px;
}

.content-card{
    padding: 5px 10px;
}
.content-card textarea{
    font-size: 16px;
    width: 100%;
    height: 100%;
    resize: none;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none ;
    transition: 0.1s;
    background: transparent;
    padding: 10px;
}

.sav-card-show{
    width: 100%;
    height: 80%;
    padding: 2.5px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.sav-card-show span{
    white-space: nowrap;
    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
}
.content-card textarea:hover, .title-card textarea:hover, .sav-card-show:hover{
    transition: 0.3s;
    border: 2px solid #525252;
}

.content-card textarea:focus-visible, .title-card textarea:focus-visible{
    border: 2px solid #4c4c4d;
}

.tools-card{
    padding: 5px;
    padding-left: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    background-color: var(--color-p1);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tools-card button, .excluir{

    border: none;
    background: transparent; 
    cursor: pointer; 
    border: none;
    background: transparent;

    transition: 0.2s;
}

.excluir{
    color: #28282b;
    min-width: 15px;
    padding: 2.5px;
}

.excluir:hover{
    color: rgb(255, 129, 129);
    transition: 0.25s;
}

.create-action{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    background: transparent;
    width: 20px;
    height: 25px;
    color: #28282b;
    padding: 1px;
    border-radius: 5px;
    border: 2.5px solid transparent;
    transition: 0.2s;
}

.create-action:hover{
    transition: 0.3s;
    color: white;
}

.desc-card{
    padding: 5px 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: end;
}

.desc-card span{
    color: silver;
}

/* hidden-card --------------- */

.hidden-card{
    grid-template-rows: var(--size-bar) auto;
}

.hidden-card .title-card, .hidden-card .content-card, .hidden-card .desc-card{
    display: none;
}

.hidden-img{
    display: none;
}
.hidden-card .hidden-img{
    display: flex;
    display: visible;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    color: #28282b;
    font-size: 20px;
    font-weight: 50;
}

.hidden-img i{
    font-size: 200px;
}
.hidden-img span{
    font-weight: bold;
}


/* Note-field --------------- */
.note-field{
    display: flex;
    flex-direction: column;
}

.note-search{
    background-color: #373742;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1.25px, rgba(9, 30, 66, 0.13) 0px 1px;
    height: var(--size-bar);
    padding: 5px 10px;
    padding-left: 15px;

    color: white;

    display: flex;
    align-items: center;
    gap: 10px;
}
.note-search input{
    width: 90%;
    height: 30px;
    outline: none;

    color: white;
    font-size: 16px;
    background: transparent;
    border-bottom: white 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* group-card --------------- */

.group-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 11.5px;
    height: 91vh;
    overflow: auto;
}

.saved-card{
    width: 90%;
    min-height: 70px;
    max-height: 90%;
    padding: 10px;

    display: grid;
    grid-template-columns: auto 10%;
    align-items: center;
    gap: 5px;

    /* Visual */
    background-color: white;
    border-radius: 2.5px;
    border-left: 15px solid var(--color-p1);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1.25px;

    font-size: 20px;
    color: #28282b;
    animation: reveal-box 0.25s;
    transition: 0.3s;
}

.saved-card:hover{
    transition: 0.5s;
    transform: translateY(-5px);
}
.saved-card button{
    cursor: pointer;
}


/* Outros ------------------------- */

@keyframes reveal-box{
    from {transform: translateX(-100%);} 
    to {transform: translateX(0);}
}

@keyframes reveal-item{
    from {width: 30%;}
    to {width: 100%;}
}