:root{
    --color-pomo: #96ba93;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* -- pomodoro ---------------------------------------------------- */
.block-group{
    display: grid;
    width: calc(100% - 200px);
    max-width: 1300px;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.pomodoro{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 12.5% 70% 10%;

    background-color: var(--color-pomo);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

/* -- tab */

.time-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* background-color: rgb(231, 107, 107); */
    padding: 5px;
    margin-top: 5px;
    border-bottom: #28282b 2px solid;
}

.button-tab{
    min-width: 80px;
    padding: 5px;

    font-size:16px;

    background-color: transparent;
    border: none;
    border-radius: 2.5px;
    color: #28282b;
    font-weight: bolder;
    cursor: pointer;
}
.button-tab:hover{
    transition: 0.2s;
    color: white;
}

.target-button{
    background-color:  #3030307e;
    color: white;
}

/* -- view */

.time-view{
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(231, 107, 107); */
}

.time-view span{
    font-size: 120px;
    font-weight: bolder;
    color: #28282b;
}

.time-view span:hover{
    animation: blink 0.25s normal;
    cursor: default;
}

/* -- tools */

.time-tools{
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: white; */
}

.play-button{
    width: 70%;
    height: 100%;
    padding: 5px 20px;

    background-color: #28282bd5;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    transition: 0.1s;
    color: white;
}

.reload-button{
    height: 100%;
    background-color: #28282bd5;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    transition: 0.1s;
    color: white;

}

.play-button:active, .reload-button:active{
    box-shadow: none;
    transform: translateY(2px);
    box-shadow: none;
}

@keyframes blink{
    from{
        color: rgba(255, 255, 255, 0.473);
    }to{

    }
}


/* -- toDo ---------------------------------------------------- */

.toDo{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: #FAFAFA;
    border-left: 12.5px var(--color-pomo) solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.create-field{
    border-bottom: 2.5px #28282b solid;
    padding: 5px 15px;
}

.input-field{
    width: 100%;
    min-height: 50px;
    padding: 10px;

    display: grid;
    grid-template-columns: auto 5%;
    gap: 1px;
}

.input-field input{
    color: #28282b;
    border: 1px solid transparent;
    border-bottom: 3px solid #28282b;
    outline: none;
    background-color: transparent;
    width: 98%;
}

.input-field button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.input-field button:active, .mini-card button:active{
    transform: translateY(2px);
}

/* -- toDo mini-card  */
.group{
    /* background-color: #28282b; */
    height: calc( 100% - 100px);
    overflow: auto;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;

}

.group::-webkit-scrollbar {width: 0! important}

.mini-card{
    width: 100%;
    min-height: 55px;

    padding: 5px;
    margin: 5px 0px;

    display: grid;
    grid-template-columns: 5% auto 12.5%;
    gap: 5px;

    background-color: rgba(31, 31, 31, 0.144);
    border-left: 10px solid #DF546D;
    border-radius: 2.5px;
    animation: reveal 0.3s;
}

.mini-card input{
    color: #28282b;
    border: 1px solid transparent;
    border-bottom: 3px solid #28282b;
    outline: none;
    background-color: transparent;
}

.mini-card button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

.mini-card button:hover{
    transition: 0.3s;
}

#save:hover{
    color: #96ba93;
}
#delete:hover{
    color: #DF546D;
}