<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login_style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Josefin+Sans&family=Nunito+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

</head>
<body>
   <main>
        <div class="login">
            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="formulario">
                    <h1>Login</h1>
                    <div class="boxInput">
                            {{ form.email(class="boxButton", placeholder="Digite seu email") }}
                            {{ form.senha(class="boxButton input", placeholder="Digite sua senha") }}
                        <div style="display: flex; gap: 10px; align-items:center;  align-content: center;">
                            <input type="checkbox" name="" id="CB">
                            <label for="CB"></label>
                            <p style="color:rgb(126, 126, 126);position: relative; top: 1px">Lembre-se</p>

                        </div>
                    </div>
                    <div class="boxButton">
                        {{ form.SingUp(class="boxButton") }}
                        {{ form.SingIn(class="boxButton") }}
                    </div>
                    <p style="position: relative; top: 30px; color:rgb(126, 126, 126); justify-self: center;">@Developer in Senai</p>
                </div>
            </form>
        </div>
        <div class="banner">
            <img src="/static/Setup-bro.png" alt="" style="width: 90%;">
        </div>
    </main>
</body>
</html>