<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/register.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Josefin+Sans&family=Nunito+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="form-img">
            <img src="{{ url_for('static', filename = 'img/To-do.png') }}" width="100%" alt="">
        </div>
        <div class="form">
            <form action="{{ url_for('register') }}" method="POST">
<!--                {{ form.csrf_token }}-->
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <span>Nome</span>
                        {{ form.nome(class="boxInput input", placeholder="Digite seu primeiro nome") }}
                    </div>

                    <div class="input-box">
                        <span>Email</span>
                        {{ form.email(class="boxInput input", placeholder="Digite seu e-mail") }}
                    </div>

                    <div class="input-box">
                        <span>Senha</span>
                        {{ form.senha(class="boxInput input", placeholder="Digite sua senha") }}
                    </div>

                    <div class="input-box">
                        <span>Confirmar Senha</span>
                        {{ form.c_senha(class="boxInput input", placeholder="Digite sua senha novamente" ) }}
                    </div>
                </div>
                <div class="continue-button">
                    {{ form.submit(class="continue") }}
                </div>
            </form>

        </div>
    </div>
</body>
</html>