{% extends "base/sidebar.html" %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block links %}
    <link href="{{ url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <main>
        <div class="dashboard">
            <div class="welcome boxs-grid">
                <div class="welcome-img"><i class="fa-regular fa-user"></i></div>
                <div class="welcome-desc">
                    <span style="font-size: 50px;">Bem-vindo(a) {{ user.nome }}</span>
                    <span>Vamos produzir!</span>
                </div>
            </div>
            <div class="card-content boxs-grid"></div>
            <div class="sketch boxs-grid">
                <span>BLOCO DE RASCUNHO</span>
                <textarea id="sketch-field" placeholder="Digite aqui...">{{ papel.content }}</textarea>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}
