<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/S.css') }}">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box">
        <input type="text" class="field" id="field">
        <div class="time-tools">
            <button class="button-tools" id="iniciar" onclick="Create()">ENVIAR</button>
        </div>
    </div>
    <div class="group" id="group">
        {% for card in box %}
        <div class="mini-card">
              <input type="text" value="{{ card.title }}">
            <div>
                <button onclick="Update()">U</button>
                <button onclick="Delete()">D</button>
            </div>
        </div>
        {% endfor %}
    </div>
   
    <script src="{{ url_for('static', filename='js/J.js') }}" ></script>
</body>
</html>